.header {
  padding: 0;
  margin: 1;
  display:flex;
  color: black;
  padding-top: .5rem;
  justify-content: space-between;
  padding-left: .7rem;
  width: 100%;
  z-index:2;
  height:85px;
 
}

.latest {
  width: 100%;
  text-align: center;
}

.h3 {
  padding: 0;
  margin: 0;
}

.logo {
  padding: 1rem;
  height: 2rem;
  width: 2rem;
}
.background {
  background-color: black;
}

.search {
  margin: 2; 
  margin-right: .5rem;
  padding-right: 5rem;
  border-radius: 3rem;
  height: 3rem;
  color: black;
  font-size: 1.25rem;
  font-family: Inter;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.search-bar {
  margin-right: 1rem;
}

.brand {
  display: flex;
}

.news {
  margin-left: .5rem;
  margin-right: .5rem;
  
}

.newsList {
  background-color: #f3f3f3;
  border-radius: 2rem;
  height: 13rem;
  display: inline-block;
  text-align: justify;
  font-family: Inter;
  width: 100rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;


}
.newsListImage {
  width: 9rem;
  height: 10rem;
  border-radius: 10px;
}
.newsListContents {
  vertical-align: top;
  text-align: justify;
  height: 5px;
  text-overflow: ellipsis;
  font-family: Inter;
}
.newsListHeadline {
  margin-left: 5rem;
  margin-right: 3rem;
  margin-bottom: 0px;
  word-wrap: break-word;
  font-weight: 600;
  font-family: Inter;
}

.newsListContent {
  margin-left: 5rem;
  margin-right: 3rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-family: Inter;
}

.popUp {
  width: 350px;
  height: 330px;
  align-items: center;
  display: block;
  font-family: Inter;
}

.screen {
  vertical-align: middle;
  display: inline-block;
  text-align: justify;
  font-family: Inter;
}

.screenImage {
  width: 18rem;
  height: 14rem;
  align-items: center;
}

.headline {
  font-size: 20px;
  font-weight: 30px;
  width: 290px;
  word-wrap: break-word;
  font-family: Inter;
}

.newsContent {
  font-size: 15px;
  width: 290px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-family: Inter;
}

.option {
  font-family: Inter;
}

.form {
  color: white;
}

.upday {
  font-family: Roboto;
  align-items: center;
  align-content: center;
  align-self: center;
  padding-right: .5rem;
    padding-left: .7rem;
}

@media all and (max-width: 650px) {
  .newsListHeadline  {
    font-size: 1.5rem;
  }
  .newsListContent {
    font-size: 1rem;
  }
}

@media all and (min-width: 651px) {
  .newsListHeadline  {
    font-size: 1.5rem;
  }
  .newsListContent {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 750px) {
  .newsListHeadline  {
    font-size: 1.5rem;
  }
  .newsListContent {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 772px) {
  .newsListHeadline  {
    font-size: 1.8rem;
  }
  .newsListContent {
    font-size: 1.3rem;
  }
}

@media all and (min-width: 1100px) {
  .newsListHeadline  {
    font-size: 1.8rem;
  }
  .newsListContent {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 1240px) {
  .newsListHeadline  {
    font-size: 1.8rem;
  }
  .newsListContent {
    font-size: 1.8rem;
  }
}

@media all and (min-width: 1920px) {
  .newsListHeadline  {
    font-size: 1rem;
  }
  .newsListContent {
    font-size: 1rem;
  }
}

@media all and (min-width: 2528px) {
  .newsListHeadline  {
    font-size: 1.5rem;
  }
  .newsListContent {
    font-size: 1rem;
  }
}

@media all and (min-width: 3572px) {
  .newsListHeadline  {
    font-size: 1.5rem;
  }
  .newsListContent {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 959px) {
  .newsListImage {
    width: 10rem;
    height: 13rem;
    margin: 0;
  }
  .newsListHeadline  {
    margin-top: 0;
    padding-top: 1rem;
  }
}


@media all and (min-width: 960px) {
  .newsListImage {
    width: 12rem;
    height: 18rem;
  }
}

@media all and (min-width: 961px) {
  .newsListImage {
    width: 12rem;
    height: 13rem;
  }
}

@media all and (min-width: 1241px) {
  .newsListImage {
    width: 16rem;
    height: 13rem;
  }

}



@media all and (min-width: 1478px) {
  .newsListImage {
    width: 20rem;
    height: 13rem;
  }
}


@media all and (min-width: 1690px) {
  .newsListImage {
    width: 24rem;
    height: 13rem;
  }
}

@media all and (min-width: 1920px) {
  .newsListImage {
    width: 12rem;
    height: 13rem;
  }
}

@media all and (min-width: 4070px) {
  .newsListHeadline  {
    margin-top: 0;
    padding-top: 1rem;
    margin-left: 0;
    padding-left: 0;
    font-size: 2rem;
  }
  .newsListContent  {
    margin-top: 0;
    padding-top: 1rem;
    margin-left: 0;
    padding-left: 0;
    font-size: 1.5rem;
  }
  .newsListImage {
    padding-right: 0;
    margin-right: 0;
  }
}




@media all and (max-width: 600px){
  .header{
    display: none;
  }
}

.MuiSelect-select.MuiSelect-select {
  padding-right: 10px;
  margin-right: 10px;
  margin-top: 10px;
  color:white;
  background: transparent;
  border-color: white;
  color: white;
}


.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

}

.MuiGrid-item {
  margin-bottom: 1rem;

}
