.header {
  padding: 0;
  margin: 0;
  color: white;
  padding-top: 2px;
  font-family: Poppins;
}
.h1 {
  padding: 0;
  margin: 0;
}

.logo {
  padding: 10px;
  height: 30px;
  width: 30px;
}
.background {
  background-color: #7BA6D3;
}

.search {
  background-color: #7BA6D3;
  border-radius: 40px;
  padding-bottom: 8px;
  padding-left: 10px;
  margin: 10px;
  height: 20px;
  color: white;
  font-size: 20px;
  font-family: Poppins;
}

.newsList {
  background-color: #f3f3f3;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  width: 480px;
  height: 200px;
  vertical-align: middle;
  display: inline-block;
  text-align: justify;
  font-family: Poppins;
}
.newsListImage {
  width: 150px;
  height: 200px;
  vertical-align: middle;
  border-radius: 10px;
}
.newsListContents {
  vertical-align: top;
  text-align: justify;
  height: 10px;
  text-overflow: ellipsis;
  font-family: Poppins;
}
.newsListHeadline {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  word-wrap: break-word;
  font-weight: 600;
  font-family: Poppins;
}

.newsListContent {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-family: Poppins;
}

.popUp {
  width: 350px;
  height: 330px;
  align-items: center;
  display: block;
  font-family: Poppins;
}

.screen {
  vertical-align: middle;
  display: inline-block;
  text-align: justify;
  font-family: Poppins;
}

.screenImage {
  width: 486px;
  height: 182px;
}

.headline {
  font-size: 20px;
  font-weight: 30px;
  width: 290px;
  word-wrap: break-word;
  font-family: Poppins;
}

.newsContent {
  font-size: 15px;
  width: 290px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-family: Poppins;
}

.option {
  font-family: Poppins;
}

.form {
  color: white;
}

.MuiSelect-select.MuiSelect-select {
  padding-right: 10px;
  margin-right: 10px;
  margin-top: 10px;
  color:white;
  font-family: Poppins;
  background: transparent;
  border-color: white;
  color: white;
  font-family: Poppins;
}