.h2 {
  background-color: pink;
  padding: 0;
  margin: 0;
  width: 70vw;
  height: 100vh;
}

.button {
  font-family: Inter;
  color: #7ba6d3;
  background-color: transparent;
  border-color: transparent;
  margin-left: 0.5rem;
}

.scroll {
  overflow: hidden;
  height: 100rem;
}
